.overview-display {

    .ui.header {
        line-height: 1.1em;
    }

    .time-top-margin {
        margin-top: 20px;
    }

    .larger-font {
        font-size: 34pt;
    }
    
    .medium-font {
        font-size: 54pt;
    }

    .smaller-font {
        font-size: 34pt;
    }

    .sub-font-size {
        font-size: 1.5rem!important;
    }

    .no-margin-padding {
        margin: 0!important;
        padding: 0!important;
    }

    .img-width {
        width: 500px;
    }
}
